body,
html {
    height: 100%;
    margin: 0;
    font-family: system-ui;
}
footer {
    background-color: lightgray;
    padding: 20px 20px;
    display: inline-flex;
    margin-top: 100px;
    width : 100%;
}
.about1 {
    text-align: center;
}
.footer {
    width : 1000px;
    text-align: center;
}
.navbar {
    width: 98%;
    padding: 10px 10px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}

span,
a {
    display: inline;
    margin-left: 20px;
    color : white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
   
}
select {
    background: none;
    appearance: none;
    border: none;
    margin-left:30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
option,optgroup {
    color: black;
}
a:hover {
    color : rgb(195, 228, 195);
}