* {
    font-family: system-ui;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.head {
    margin-left:100px;
    margin-top:280px;
    font-weight: bold;
    font-size: 50px;
}
.log {
    margin-left: 300px;
    width: 250px;
    font-size: 25px;
    border-radius: 50px;
    background-color: #2a324c;

}
.log:hover {
    background-color: black;
}
body,
html {
    height: 100%;
    margin: 0;
    font-family: system-ui;
}

.navbar {
    width: 97.7%;
    padding: 20px 20px;
    color: white;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    
    
}

select {
    background: none;
    appearance: none;
    border: none;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

span,
a {

    display: inline;
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;

}

.homepage {
    background-image: url('../images/paris.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    opacity: 0.9;
    
}
button {
    background: none;
    padding : 20px 20px;
}
option,
optgroup {
    color: black;
}

.form {
    width: 0%;
}
.login {
    margin-left: 980px;
    width : 40px;
    height : 50px;
    
}