body {
  background-image: url("../images/homepage.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
* {
  font-family: system-ui;
}
input{
  border-radius: 10px;
  padding: 15px 15px;
  width: 300px;
  margin-left: 30px;
  margin-bottom : 15px;
  font-size: 15px;
  border: none;
  background: #f7f7f7;
}
.register {
  border-radius: 10px;
  margin-top: 50px;
  width: 550px;
  padding: 20px 20px;
  margin-left: 500px;
}
h1 {
  margin-bottom: 10px;
}

.demo {
  padding: 20px 20px;
  margin-left: 100px;
  border-radius: 10px;
  background-color :rgba(247, 247, 247, 0.9); 
}
em {
  
  color: #333;
}

button {
  color: white;
  background-color: #04aa6d;
  padding: 10px 10px;
  width: 200px;
  border: none;
  margin-bottom: 5%;
}

input[type="checkbox"] {
  border-radius: 10px;
  margin-left:-40px;
  padding: 10px 10px;
  width: 200px;
}
#login {
  color: blue;
  text-decoration: none;
}